<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <!--<system.webServer>
    <modules>
      <add name="SWTModule" type="SecurityModule.SWTModule, SecurityModule" />
    </modules>
  </system.webServer>-->
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics"></add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ImagineCupServer.ServiceBehavior" name="ImagineCupServer.Service">
        <endpoint address="" behaviorConfiguration="endpointbehavior" binding="webHttpBinding" contract="ImagineCupServer.Service"></endpoint>
      </service>
      <service name="ImagineCupServer.CallbackService" behaviorConfiguration="ImagineCupServer.ServiceBehavior">
        <endpoint address="" binding="wsDualHttpBinding" contract="ImagineCupServer.CallbackService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="tcpbinding" transferMode="Buffered" portSharingEnabled="true">
          <readerQuotas maxStringContentLength="6553600" />
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="endpointbehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ImagineCupServer.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
<connectionStrings><add name="echelperDBEntities" connectionString="metadata=res://*/DataModel.ECHelperDB.csdl|res://*/DataModel.ECHelperDB.ssdl|res://*/DataModel.ECHelperDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=tcp:uhfilx5bs3.database.windows.net,1433;Initial Catalog=echelperDB;Persist Security Info=True;User ID=nicefforts@uhfilx5bs3;Password=buptsse@315;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>