.homepage section[role=main] {
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}

#maillist {
	width:90%;
	height:588px;
}

.mediumListIconTextItem
{
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-grid;
}

    .mediumListIconTextItem img.mediumListIconTextItem-Image 
    {
        width: 60px;
        height: 60px;
        margin: 5px;
        -ms-grid-column: 1;
    }

    .mediumListIconTextItem .mediumListIconTextItem-Detail
    {
        margin: 5px;
        -ms-grid-column: 2;
    }
    
#messageframe {
    -ms-grid-column: 2;
    width: 80%;
    display: -ms-grid;
    -ms-grid-rows: 80px 1fr;
    -ms-grid-columns: 2fr 2fr;
}

#mailController {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

#mailMessage {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
}

.noLabels {
    min-height: 0px;
    margin-left: 0px;
}
.noLabels hr.win-command {
    margin: 0px 0px 0px 0px;
}
.noLabels button.win-command .win-label {
    display: none;
}
.noLabels button.win-command .win-commandicon {
    margin: 0px 0px;
}

#myECGCanvas {
    width: 860px;
    height: 500px;
    display: none;
}

#mailMessageBody {
    margin-top: 20px;
    font-size: 16pt;
}