.homepage section[role=main] {
    position: fixed;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}

 .doctorItemsList {
    
}
 
 #doctorItemsList .win-horizontal.win-viewport .win-surface {
    margin-left: 120px;
}

    #doctorItemsList .win-horizontal.win-viewport .win-container {
        margin-right: 80px;
    }
#doctorInfoList {
    overflow-x: scroll;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    position: relative;
    z-index: 0;
}
.doctorInfoItem {
    height: 94%;
    width: 500px;
    display: inline-block;
    white-space: normal;
    margin-left: 120px;
    background-image: url('/images/doctorlistitem.png');
    background-repeat: no-repeat;
}

         .doctorInfoItem .itemImage {
            width: 180px;
            height: 240px;
            padding: 10px 10px 10px 10px; 
            float: left;
            position: relative;
        }

        .doctorInfoItem .itemName {
            font-size: 24pt;
            font-weight: bold;
        }

        .doctorInfoItem .itemSpace {
            font-size: 2pt;
        }
        
        .doctorInfoItem .itemEmail {
            font-size: 20pt;
        }

        .doctorInfoItem .itemDescription {
            font-size: 13pt;
        }
        
#myDoctorList {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 350px;
    height: 100%;
    background-color: #808080;
    opacity: 0;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
/*
.listItem
{
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-grid;
    -ms-grid-columns: 70px 1fr;
}

    .listItem .itemImage
    {
        width: 60px;
        height: 60px;
        margin: 5px;
        -ms-grid-column: 1;
    }

    .listItem .itemDetail
    {
        margin: 5px;
        -ms-grid-column: 2;
    }

            */
#searchInput {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    background-image: url('/images/search.png');
    background-repeat: no-repeat;
    background-color: rgba(242,242,242,1.0);
    background-position: 7px 11px;
    border-color: rgba(212,212,212,1.0);
    color: rgba(0,0,0,0.6);
    border-width: 3px 1px 1px 3px;
    padding-left: 30px;
    padding-right: 4px;
    height: 40px;
}

#myDoctorListButton {
    float: right;
}

#myDoctorListButton:hover {
    color: #0b6005;
}

#allDoctorListButton {
    float: right;
}

#allDoctorListButton:hover {
    color: #0b6005;
}

#ask {
    margin-left: 20px;
    margin-top: 80px;
    margin-right: 20px;
    font-size: 14pt;
}