.homepage section[role=main] {
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
#mailHeader {
	width:90%;
	height:588px;
    display: -ms-grid;
    -ms-grid-rows: 80px 1fr;
}

#receiver {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}

.doctorSelectionN {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
    width: 100%;
    height: 100%;
}

#msgframe {
    -ms-grid-column: 2;
    width: 80%;
    display: -ms-grid;
    -ms-grid-rows: 50px 1fr;
    -ms-grid-columns: 4fr 1.5fr;
}

#mailTitle {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    width: 100%;
}
#mailController {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

input[type="email"].differentEmailInputStyle
{
    background-color: rgba(242,242,242,1.0);
    background-image: url('../images/EmailIcon_Gray.svg');
    background-repeat: no-repeat;
    background-position: 7px 13px;
    border-color: rgba(212,212,212,1.0);
    color: rgba(0,0,0,0.6);
    border-width: 3px 1px 1px 3px;
    padding-left: 30px;
    padding-right: 4px;
    width: 300px;
    height: 40px;
    font-size: 16pt;
}

input[type="email"].differentEmailInputStyle:hover
{
    background-color: rgba(250,250,250,1.0);
}

input[type="email"].differentEmailInputStyle:active, input[type="email"].differentEmailInputStyle:focus
{
    background-color: rgba(213,252,207,1.0);
    background-image: url('../images/EmailIcon_Green.svg');
    border-color: rgba(34,190,12,1.0);
    color: rgba(0,0,0,0.8);
}

input[type="email"].differentEmailInputStyle:disabled
{
    background-image: url('../images/EmailIcon_Gray.svg');
    background-color: rgba(242,242,242,0.4);
    border-color: rgba(242,242,242,0.4);
    color: rgb(170,170,170);
}

/* style the clear button */
input[type="email"].differentEmailInputStyle::-ms-clear
{
    background-color: rgba(239,73,134,0.3);
    width: 20px;
    height: 20px;
    color: white;
    margin: 4px 0px 0px 4px;
}


input[type="email"].differentEmailInputStyle::-ms-clear:hover
{
    background-color: rgba(239,73,134,0.5);
}

input[type="email"].differentEmailInputStyle::-ms-clear:active
{
    background-color: rgba(239,73,134,1.0);
    color: white;
}

input[type="email"].differentEmailInputStyle:disabled::-ms-clear
{
    display: none;
}

.mediumListIconTextItem1
{
    height: 0px;
    padding: 5px;
    overflow: hidden;
    display: -ms-grid;
}

.mediumListIconTextItem
{
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-grid;
}

    .mediumListIconTextItem img.mediumListIconTextItem-Image 
    {
        width: 60px;
        height: 60px;
        margin: 5px;
        -ms-grid-column: 1;
    }

    .mediumListIconTextItem .mediumListIconTextItem-Detail
    {
        margin: 5px;
        -ms-grid-column: 2;
    }

#mailMessage {
    position: relative;
    -ms-grid-row: 2;
    -ms-grid-column-span: 2;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    background-color: rgba(242,242,242,0.0);
    border-color: rgba(242,242,242,0.0);
    font-size: 16pt;
    padding-top: 20px;
    border-top-color: rgba(0,0,0,0.6);
}
.noLabels {
    min-height: 0px;
    margin-left: 20px;
}
.noLabels hr.win-command {
    margin: 0px 0px 0px 5px;
}
.noLabels button.win-command .win-label {
    display: none;
}
.noLabels button.win-command .win-commandicon {
    margin: 0px 5px;
}

#mailTitle {
    font-size: 20pt;
    font-weight:300;
    background-color: rgba(242,242,242,0.0);
    border-width: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#myFilelist {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 350px;
    height: 100%;
    background-color: #808080;
    opacity: 0;
    display: none;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#fileSelection {
    z-index: 2;
    float: left;
    margin-left: 30px;
    margin-top: 70px;
}