.homepage section[role=main] {
    position: fixed;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}

#mName {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    background-color: rgba(255, 0, 110, 0.00);
    border-color: rgba(255, 0, 110, 0.00);
    font-size: 24pt;
    font-weight:300;
    padding: 0px 0px 0px 0px;
    vertical-align: bottom;
    margin-bottom: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #666363;
    text-height: max-size;
    height: 52px;
}

.mGenderdiv {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
    width: 70%;
    position: relative;
    padding: 0px 0px 0px 0px;
    vertical-align: top;
    margin-top: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #666363;
    height: 40px;
}

select.mGender {
    font-size: 17pt;
    background-color: rgba(255, 0, 110, 0.00);
    border-color: rgba(255, 0, 110, 0.00);
}

#mAge {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
    width: 100%;
    position: relative;
    font-size: 17pt;
    background-color: rgba(255, 0, 110, 0.00);
    border-color: rgba(255, 0, 110, 0.00);
    padding: 0px 0px 0px 0px;
    vertical-align: top;
    margin-top: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #666363;
    height: 40px;
    text-align: center;
}

#mDesciprion {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
    float: right;
    position: relative;
    width: 70%;
    height: 80%;
    background-color: rgba(14, 204, 53, 0.0);
    border-color: rgba(14, 204, 53, 0.0);
    font-size: 20pt;
    padding-top: 20px;
    padding-bottom: 20px;
}

#mAllery1 {
    position: relative;
    width: 100%;
    background-color: rgba(14, 204, 53, 0.0);
    border-color: rgba(14, 204, 53, 0.0);
    border-bottom-width: 2px;
    border-bottom-color:#e7421d;
    font-size: 18pt;
}

#mAllery2 {
    position: relative;
    width: 100%;
    background-color: rgba(14, 204, 53, 0.0);
    border-color: rgba(14, 204, 53, 0.0);
    border-bottom-width: 2px;
    border-bottom-color:#e7421d;
    font-size: 18pt;
}

#mAllery3 {
    position: relative;
    width: 100%;
    background-color: rgba(14, 204, 53, 0.0);
    border-color: rgba(14, 204, 53, 0.0);
    border-bottom-width: 2px;
    border-bottom-color:#e7421d;
    font-size: 18pt;
}

#acceptbutton {
    background: url('/images/accept.png') no-repeat;
    background-color: rgba(102, 99, 99, 0.00);
    border-color: rgba(102, 99, 99, 0.00);
    width: 60px;
    height: 60px;
    float: right;
    margin-top: 120px;
}
    #acceptbutton:active {
        background-position: 2px 2px;
    }

#rejectbutton {
    background: url('/images/reject.png') no-repeat;
    background-color: rgba(102, 99, 99, 0.00);
    border-color: rgba(102, 99, 99, 0.00);
    width: 60px;
    height: 60px;
    float: right;
    margin-top: 120px;
}
    #rejectbutton:active {
        background-position: 2px 2px;
    }