.homepage section[role=main] {
    position: fixed;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }
}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}

* {
	margin: 0;
	padding: 0;
}
	a:hover,
	a.selected {
		color: #ffcc00;
	}
	#timeline {
        -ms-grid-row: 2;
        -ms-grid-column-span: 2;
		width: 1200px;
		height: 100px;
        overflow: hidden;
		position: relative;
		background: url('/images/arrow.png') left 40px no-repeat;
	}
		#dates {
			width: 1200px;
			height: 100px;
			overflow: hidden;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 74px;
				font-size: 20px;
				text-align: center;
				background: url('/images/point.png') center bottom no-repeat;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates .selected {
			        font-size: 26px;
                    list-style: none;
				    float: left;
				    width: 100px;
				    height: 50px;
				    text-align: center;
                    color:#02750f;
				}
                
#recordlist {
    position: relative;
	width:90%;
	height:500px;
    -ms-grid-column: 1;
    -ms-grid-row: 1;
}
                
.mediumListIconTextItem
{
    height: 70px;
    padding: 5px;
    overflow: hidden;
    display: -ms-grid;
}

    .mediumListIconTextItem img.mediumListIconTextItem-Image 
    {
        width: 60px;
        height: 60px;
        margin: 5px;
        -ms-grid-column: 1;
    }

    .mediumListIconTextItem .mediumListIconTextItem-Detail
    {
        margin: 5px;
        -ms-grid-column: 2;
    }

#recordMessageBody {
    margin-top: 20px;
    font-size: 16pt;
}
