<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="BUILD.d7fe6f76-248e-4fae-821b-b6bb00aabff0" Version="1.0.0.0" Publisher="CN=cloudzfy" />
  <Properties>
    <DisplayName>ECHelper</DisplayName>
    <Description>ECHelper</Description>
    <PublisherDisplayName>cloudzfy</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="ECHelper" Logo="images\smallTile.png" SmallLogo="images\smalllogo.png" Description="ECHelper" ForegroundText="dark" BackgroundColor="#FFFFFF" ToastCapable="true">
        <LockScreen Notification="badge" BadgeLogo="images\badgelogo.png" />
        <DefaultTile ShowName="allLogos" WideLogo="images\tile.png" />
        <SplashScreen Image="images\splash.png" BackgroundColor="#009D1A" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="ecg_data">
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType>.ech</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.backgroundTasks" StartPage="js\backgroundTask.js">
          <BackgroundTasks>
            <Task Type="pushNotification" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="documentsLibrary" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>